<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Online-Profil &middot; Intro</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="row">
          <h1>Willkommen</h1>

          <p>Wenn sie diese Seite sehen, hatte ich wahrscheinlich mit ihnen oder einem
          anderen Mitarbeiter ihrer Organisation Kontakt wegen eines Stellenangebotes.
          Zusammen mit der Url habe ich ihnen die Zugangsdaten &uuml;bermittelt.</p>
        </div>
      </div> <!-- /content -->
    </div> <!-- /container -->
  </body>
</html>
