<!DOCTYPE html>
<html lang="de">
  <head>
     <link href=".css/bootstrap.css" rel="stylesheet">
     <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <h2>Messerschmitt-Bölkow-Blohm GmbH</h2>

        <div class="row">
          <div class="span8">
            <p><a id="thumbnail-link" href="http://de.wikipedia.org/wiki/Messerschmitt-Boelkow-Blohm" target="orgainfo"><img class="thumbnail-img" border=0 src="/images/logo/mbb.png"/></a></p>	
            <p><a id="orga-link" href="http://de.wikipedia.org/wiki/Messerschmitt-Boelkow-Blohm" target="orgainfo">http://de.wikipedia.org/wiki/Messerschmitt-Boelkow-Blohm</a></p>
            <div id="description">Messerschmitt-Bölkow-Blohm (MBB) war einer der größten deutschen Luft- und Raumfahrtkonzerne. 
            Ich war dort im zweiten paraktischen Semester in der Datenbankmanagement-Gruppe beschäftigt.</div>
            <p><a id="pdf-path" href="/pdf/mbb.pdf" target="pdf">Zeugnis als PDF-Dokument</a></p>
          </div>
        </div>
    </div>
  </body>
</html>

