<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Online-Profil &middot; Zeugnisse</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-responsive.css" rel="stylesheet"/>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>Zeugnisse</h1>
        </div>
        <ul class="nav nav-tabs">
          <li><a id="zeppelin" href="#zeppelin">Zeppelin</a></li>
          <li><a id="gao" href="#gao">GAO</a></li>
          <li><a id="mbb" href="#mbb">MBB</a></li>
          <li><a id="bmw" href="#bmw">BMW</a></li>
          <li><a id="fh" href="#fh">Fachhochschule</a></li>
          <li><a id="jtg" href="#jtg">Abiturzeugnis</a></li>
        </ul>      
        <div id="zeugnis-info"/>
        <button id="button1">click me</button>
        <button id="button2">click me</button>
      </div> <!-- /content -->
    </div> <!-- /container -->
  </body>
</html>