<!DOCTYPE html>
<html lang="de">
  <head>
    <link href=".css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <h2>Gesellschaft f&uuml;r Automation und Organisation</h2>
    <div class="content">
      <div class="row">
        <div class="span8">
          <p><a id="thumbnail-link" href="http://www.gi-de.com" target="orgainfo"><img class="thumbnail-img" border=0 src="/images/logo/gd.gif"/></a></p>	
          <p><a id="orga-link" href="http://www.gi-de.com" target="orgainfo">http://www.gi-de.com</a></p>
          <div id="description">Die Firma GAO war eine Tochter-Firma von Gieseke und Devrient, die auf die Produktion und den Verkauf von
            Banknoten-Bearbeitugsmaschinen spezialisiert war. Ich habe dort circa 6 Jahre lang Echtzeitsysteme programmiert.</div>
          <p><a id="pdf-path" href="/pdf/gao.pdf" target="pdf">Zeugnis als PDF-Dokument</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
