<!DOCTYPE html>
<html lang="de">
   <head>
     <title>Online-Profil &middot; Zeugnisse</title>
     <link href="css/bootstrap.css" rel="stylesheet"/>
     <link href="css/bootstrap-responsive.css" rel="stylesheet"/>
   </head>
   <body>
    <div class="container">
      <div id="content">
      <h1>Zeugnisse</h1>
	    <ul class="nav nav-tabs">
	    <li class="active">
	      <a id="home" href="zeugnisse-intro.html">Home</a>
	    </li>
	    <li><a id="bmw" href="">BMW</a></li>
	    <li><a id="gao" href="#">GAO</a></li>
	    </ul>      
	    <div id="zeugnis-info">@zeugnis-info@</div>
      </div> <!-- /content -->
    </div> <!-- /container -->
   </body>
</html>