<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Online-Profil &middot; Zeugnisse</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-responsive.css" rel="stylesheet"/>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>Zeugnisse</h1>
        </div>
        <ul class="nav nav-tabs">
          <li class="active">
          <a id="home" href="zeugnis-intro.html">Home</a>
          </li>
          <li><a id="zeppelin" href="#zeugnis-zeppelin">Zeppelin</a></li>
          <li><a id="gao" href="#zeugnis-gao">GAO</a></li>
          <li><a id="mbb" href="#zeugnis-mbb">MBB</a></li>
          <li><a id="bmw" href="#zeugnis-bwm">BMW</a></li>
          <li><a id="fhnoten" href="#zeugnis-fhnoten">Haupt-Studium</a></li>
          <li><a id="vordiplom" href="#zeugnis-vordiplom">Vordiplom</a></li>
          <li><a id="jtg" href="#zeugnis-jtg">Abiturzeugnis</a></li>
        </ul>      
        <div id="zeugnis-info">
          Intro ... blah ... blah 
        </div>
      </div> <!-- /content -->
    </div> <!-- /container -->
  </body>
</html>
