<!DOCTYPE html>
<html lang="de">
  <head>
     <link href=".css/bootstrap.css" rel="stylesheet">
     <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
      <h2>Gesellschaft für Automation und Organisation</h2>

        <div class="row">
          <div class="span8">
            <p><a id="thumbnail-link" href="http://www.gi-de.com" target="orgainfo"><img class="thumbnail-img" border=0 src="/images/logo/gd.gif"/></a></p>	
            <p><a id="orga-link" href="http://www.gi-de.com" target="orgainfo">http://www.gi-de.com</a></p>
            <div id="description">$description</div>
            <p><a id="pdf-path" href="/pdf/gao.pdf" target="pdf">PDF-Dokument</a></p>
          </div>
        </div>
  </body>
</html>